<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML/CSS intro</title>
  </head>
  
  <body)>
  <header>ALL ABOUT DOGS</header>
    <nav>
      <a href = "/">Home Page</a>
      <a href = "/dogs">Dog Page</a>
    </nav>
    
      <h2>Toy Story</h2>
      <p>Dog Pics</p>
      <img src =http://img2.findthebest.com/sites/default/files/465/media/images/Miniature_Goldendoodle_1422089.jpg>
      <img src =http://img1.findthebest.com/sites/default/files/465/media/images/t2/Goldendoodle_892899.jpg>
      <img src =http://d3o47n6kn1r59u.cloudfront.net/images/dogbreeds/1100300.jpg>
      <iframe width="560" height="315" src="//www.youtube.com/embed/XfJR7Q8TjYs" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c)Dogs</small>
    </footer>  
  </body>

</html>

