<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML/CSS intro</title>
  </head>
  
  <body)>
    <header>My header</header>
    <nav>
      <a href = "/">Home Page</a>
    </nav>
    <h1>My header</h1>
    <article>
      <h2>Toy Story</h2>
      <p>Toy Story is my favorite movie</p>
      <img src = http://www.malatintamagazine.com/wp-content/uploads/2014/07/woody.jpg>
      <a href = "http://www.slashfilm.com/toy-story-time-forgot-comic-con-2014/">Click Link for Toy Story Site</a>
      <iframe width="420" height="315" src="//www.youtube.com/embed/JfDtNe1MqOI" frameborder="0" allowfullscreen></iframe>
      <h2>Article header</h2>
      <p>This is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong> NSS <em>Cohort</em> 6</strong></small>
    </footer>  
  </body>

</html>

