
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML/CSS intro</title>
  </head>
  
  <body)>
  <header>ALL ABOUT NINJAS</header>
    <nav>
      <a href = "/">Home Page</a>
      <a href = "/ninja">ninja Page</a>
    </nav>
    
      <h2>Toy Story</h2>
      <p>Cat Pics</p>
      <img src ="/images/ninja3.jpg">
      <img src ="/images/ninja2.jpg">
      <img src ="/images/ninja1.jpg">
      <iframe width="560" height="315" src="//www.youtube.com/embed/JS_j07Emt9U" frameborder="0" allowfullscreen></iframe>
      <footer>
      <small>(c)Dogs</small>
    </footer>  
  </body>

</html>

